{%extends 'awardss/base.html'%}
{% load static%}
{% load bootstrap3 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/current.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
<div class="container">
  <h1>{{project.link}}</h1>
  <div class="row">
    {% for project in projects %}
   
            <div class="col-md-6 photo ">
        <img src="{{project.image.url}}" class="img-responsive" data-toggle="modal" data-target="#{{project.id}}"
           alt="Image">
      </div>
   
      

            <div class="modal fade " id="{{project.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content modalcard">
                        <div class="modal-header">
                           
                            <img src="{{project.image.url}}" style="align-items:center" width="170%" height="200%"alt="{{image.name}}">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                             <h1 class="modal-title" id="imageheader">{{ project.title }}</h1>
                            <p class="imgdesc text-center">{{project.description}}</p>
                           
                             
                        </div>
                        <div class="modal-footer">
                            
                        <a href="{% url 'rate' %}"><button>Rate</button></a>    
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
  
            {% endfor %}
{% endblock %}






